{% extends 'budget/base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <!-- Input field to enter categories -->
<input type="text" id="categoryInput" placeholder="Enter category" />

<!-- Button to add a category -->
<button type="button" id="addCategoryButton">Add Category</button>

<!-- List of categories -->
<ul id="categoriesContainer"></ul>

<!-- Hidden input to store the categories as a comma-separated string -->
<input type="hidden" name="categoriesString" />

    <button type="submit" class="btn">Start Project</button>

  </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
